.popup {
    width: 882px;
}

@media (min-width: 320px) and (max-width: 768px){
    .popup {
        width: 282px;
    }
} 

@media (min-width: 768px) and (max-width: 1024px){
    .popup {
        width: 582px;
    }
} 