.element__like {
  border: none;
  background: url(../../../images/elements/like.svg) center no-repeat;
  background-size: 100%;
  height: 19px;
  width: 21px;
  opacity: 0.5;
  transition: 0.3s;
  color: #000000;
  margin-right: 25px;
  padding: 0;
}

.element__like:hover {
  cursor: pointer;
  opacity: 0.3;
  transition: linear 0.2s;
}
