.profile__main {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

@media (min-width: 320px) and (max-width: 567px){
    .profile__main  {
        width: 100%;
        flex-direction: column;
       
    }
}
