.add-button {
    width: 150px;
    height: 50px;
    color: #fff; 
    text-decoration: none;
    user-select: none; 
    background: #000000;
    background: url(../../images/Profile/\ add.png) center no-repeat;
    background-size: 22px;
}

.add-button:hover {
    cursor: pointer;

}
@media (min-width: 320px) and (max-width: 1024px){
    .add-button {
        width: 100%;
        margin: 36px 0 0;
    }
} 