.add-button {
    width: 150px;
    height: 50px;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #000000;
    background: url(../../images/Profile/\ add.png) center no-repeat;
    background-size: 22px;
}
@media (min-width: 320px) and (max-width: 567px){
    .add-button {
        width: 100%;
        height: 50px;
        background-size: 22px;
        margin: 36px 0 0;
    }
} 
