.profile__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 25px;
}

@media (min-width: 320px) and (max-width: 768px){
    .profile__subtitle {
        font-size: 14px;
        line-height: 17x;
        margin-top: 14px;
        margin-bottom: 36px;
       text-align: center;
    }
} 

@media (min-width: 768px) and (max-width: 1024px){
    .profile__subtitle {
        font-size: 22px;
        line-height: 17x;
        margin-top: 14px;
        margin-bottom: 36px;
       text-align: center;
    }
} 
