.popup__btn-close {
    width: 40px;
    height: 40px;
    background-color: #000000;
    padding: 0;
    position: absolute;
    right: -40px;
    top: -40px;
    border: 0;
}

.popup__btn-close::before {
    background: url(../../../images/popup/closeIcon.svg);
    transform: rotate(45deg);
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    cursor: pointer;
}