.element__cover-button {
    border: none;
    background: url(../../../images/elements/cover-button.svg) center no-repeat;
    background-size: 100%;
    height: 4px;
    width: 15px;
    opacity: 0.5;
    transition: 0.3s;
    padding: 0;
    position: absolute;
    right: 18px;
    top: 18px;
    border: 0;
    z-index: 1;
  }
  
  .element__cover-button:hover {
    cursor: pointer;
    opacity: 0.3;
  }
