@import url(./__image/element__image.css);
@import url(./__like/element__like.css);
@import url(./__script/element__script.css);
@import url(./__title/element__title.css);
@import url(./__remove-button/element__remove-button.css);


.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 282px;
    height: 362px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
