.popup__img-container {
    height: 540px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: transparent;
    justify-content: normal;
    align-content: center;
    margin: 90px auto;
    padding: 0;
}
